node_modules
dist
calendar.bundle.js
calendar.bundle.js.map
# rely on yarn.lock instead
package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### OS X ###
.DS_Store
